@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-sans:
    -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
    Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;

  --font-mono:
    PingFang SC, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
}

/* @font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'PingFang SC';
  src: url('/fonts/PingFangSC-Regular.woff2') format('woff2');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

[data-theme='dark'] {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.556 0 0);
}

@layer base {

  html {
    scrollbar-gutter: stable;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-ring/50 tracking-tight;
    letter-spacing: 0.375px;
  }

  strong {
    background-color: #fff0cd;
    /* 浅色背景 */
    color: #1d3557;
    /* 深色文字 */
    font-weight: 800;
    padding: 2px 4px;
    /* 增加内边距 */
  }

  /* .giscus, .giscus-frame {
    grid-column-start: 2;
  } */

  article a[href^="http"]:not([href*="http://localhost:1234/"])::after {
    content: "↗";
    font-weight: normal;
    margin: 4px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
    text-decoration: none;
    color: #000;
  }

  /* 给所有http/https链接添加外部链接标识（不适用于相对路径） */
  article a[href^="http://"]:not([href*="https://blog.mdreame.space"]):not(:has(img))::after,
  article a[href^="https://"]:not([href*="https://blog.mdreame.space"]):not(:has(img))::after {
   content: "↗";
    font-weight: normal;
    margin: 4px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
    text-decoration: none;
    color: #000;
  }

  /* 防止在图片链接上显示 */
  article a[href^="http://"]:has(img),
  article a[href^="https://"]:has(img) {
    &::after {
      content: none !important;
    }
  }
}