---
import BlogCard from '@/components/blog-card.astro'
import Link from '@/components/link.astro'
import PageHead from '@/components/page-head.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <!-- 自我介绍 -->
  <!-- <section class="rounded-lg border">
    <div class="flex flex-col space-y-1.5 p-6">
      <h3 class="text-3xl leading-none font-medium">er·u·dite</h3>
      <p class="text-muted-foreground text-sm">
        /ˈer(y)əˌdīt/ &bull; <span class="font-medium">adjective</span>
      </p>
    </div>
    <div class="p-6 pt-0">
      <p class="text-muted-foreground mb-2 text-sm">
        astro-erudite is an opinionated, unstyled static blogging template built
        with <Link
          href="https://astro.build"
          class="text-foreground"
          external
          underline>Astro</Link
        >, <Link
          href="https://tailwindcss.com"
          class="text-foreground"
          external
          underline>Tailwind</Link
        >, and <Link
          href="https://ui.shadcn.com"
          class="text-foreground"
          external
          underline>shadcn/ui</Link
        >. Extraordinarily loosely based on the <Link
          href="https://astro-micro.vercel.app/"
          class="text-foreground"
          external
          underline>Astro Micro</Link
        > theme.
      </p>
      <p class="text-muted-foreground text-sm">
        To use this template, check out the <Link
          href="https://github.com/jktrn/astro-erudite"
          class="text-foreground"
          underline
          external>GitHub</Link
        > repository. To learn more about why this template exists, read this blog
        post: <Link
          href="/blog/the-state-of-static-blogs"
          class="text-foreground"
          underline>The State of Static Blogs in 2024</Link
        >.
      </p>
    </div>
  </section> -->

  <div class="prose mb-8">
    <p>文字承载着思想和情感的流动。</p>
    <p>
      请通过<a href="mailto:mdreame@qq.com">邮件</a
      >联系，我会第一时间知晓并回复。
    </p>
    <ul>
      <li><a href="/blog/00-观影日历">🎥 观影日历</a></li>
      <li><a href="/blog/01-阅历">📚 阅历</a></li>
      <li><a href="/blog/02-红心歌单">🎹 红心歌单</a></li>
      <li><a href="/blog/03-游戏库">🎮 游戏库</a></li>
    </ul>
  </div>

  <!-- 最近文章 -->
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
